name: Android CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - "app/**"
      - "build.gradle.kts"
      - "settings.gradle.kts"
      - "gradle.properties"
      - "gradle/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Clean & assemble Debug
        run: ./gradlew clean assembleDebug --stacktrace

      - name: Unit tests
        run: ./gradlew test

      - name: Upload APK (debug)
        uses: actions/upload-artifact@v4
        with:
          name: mepo-expedicao-debug-apk
          path: app/build/outputs/apk/debug/*.apk
